/* Ripple effect styles */

.rippleActive {
  background: #28d979;
  width: 0.5px;
  height: 0.5px;
  border-radius: 100%;
  opacity: 0.5;
  position: absolute;
  transition: all 1s ease-out;
  pointer-events: none;
  will-change: transform;
}

.rippleActive.run {
  opacity: 0;
  transform: scale(200);
}

.ripple {
  position: relative;
  overflow: hidden;
}