@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  box-sizing: border-box;
  margin: 0;
}
.wrapper {
  display: flex;
  column-gap: 20px;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}
#changingBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-width: 320px;
  max-width: 555px;
  height: 100vh;
  border: 1px solid #000000;
}
.changingTitle {
  text-align: center;
  color: #29995b;
}
.changingButtons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.changingButtons button {
  background-color: #28d979;
  color: #ffffff;
  border: none;
  border-radius: 12px;
  margin-right: 15px;
  padding: 5px;
  cursor: pointer;
}
.changingPopUp {
  margin-top: 20px;
  width: 320px;
}
.capybara {
  width: 300px;
}
#app {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 555px;
  font-family: 'Poppins', sans-serif;
}
p {
  margin: 0;
}

.box {
  box-sizing: border-box;
  padding: 12px;
  background-color: #f0f0f0;
  border-radius: 12px;
}
.name {
  width: 124px;
  height: 124px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.greetingPhrase {
  color: #000000;
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
}
.personName {
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  line-height: 104%;
}
.role {
  margin-top: 6px;
  color: #5c5c5c;
  font-weight: 500;
  font-size: 12px;
  line-height: 150%;
}
.lenguages {
  width: 267px;
  height: 124px;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.updateBtn {
  width: 60px;
  border: none;
  border-radius: 10px;
  background-color: #28d979;
  font-weight: 500;
  font-size: 8px;
  line-height: 104%;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
}
.disabled {
  opacity: 0;
  height: 0;
}
.activeBtn {
  height: 15px;
  opacity: 1;
  transition: opacity 1s ease-in;
}
.nameTitle {
  color: #000000;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
.listLenguages {
  display: flex;
  flex-direction: row;
  column-gap: 17px;
}
.nameLenguage {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.nameLenguage p {
  color: #000000;
  font-weight: 500;
  font-size: 10px;
  line-height: 104%;
}
.levelLenguage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
input[type='range'] {
  width: 168px;
  margin: 0 0 10px 0;
  -webkit-appearance: none;
  appearance: none;
  cursor: ew-resize;
  outline: none;
  overflow: hidden;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 11px;
  background: #f0f0f0;
  border-radius: 3px;
}

input[type='range']::-moz-range-track {
  height: 11px;
  background: #f0f0f0;
  border-radius: 3px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 11px;
  width: 11px;
  background-color: #28d979;
  border-radius: 3px;
  border: 2px solid #28d979;
  box-shadow: -407px 0 0 400px #28d979;
}

input[type='range']::-moz-range-thumb {
  height: 11px;
  width: 11px;
  background-color: #28d979;
  border-radius: 3px;
  border: 1px solid #28d979;
  box-shadow: -407px 0 0 400px #28d979;
}
.experience {
  max-width: 411px;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
}
.jobList {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.lastJob {
  padding: 8px;
  background-color: #28d979;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.topBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.date {
  font-weight: 500;
  font-size: 8px;
  line-height: 150%;
}
.tag {
  width: 61px;
  text-align: center;
  background-color: rgb(126, 115, 18, 0.4);
  padding: 2px;
  border-radius: 59px;
}
.tag p {
  opacity: 100%;
  color: #ddf163;
  font-weight: 500;
  font-size: 8px;
  line-height: 155%;
}
.content {
  display: flex;
  column-gap: 8px;
}
.jobInfo {
  width: 124px;
  display: flex;
  flex-direction: column;
}
.roleName {
  width: 124px;
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
}
.aboutJob {
  display: flex;
  column-gap: 6px;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
}

.featuredPoints {
  display: flex;
  flex-direction: column;
}
.points {
  margin-block-start: 0;
  margin-block-end: 0;
  padding-left: 10px;
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
}
.job-2 {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.job-3 {
  background-color: #ffffff;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}
.tools {
  padding-bottom: 0;
  width: 124px;
  display: flex;
  flex-direction: column;
}
.tools > .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -7px;
}
.toolsTag {
  margin-top: 1px;
  margin-bottom: -5px;
  z-index: 2;
  background-color: #000000;
  color: #ffffff;
  border-radius: 59px;
  padding: 2px 6px;
  font-weight: 500;
  font-size: 5px;
  line-height: 142%;
}
.section {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 76px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 4px;
  border-radius: 6px;
  margin-bottom: 3px;
}
.education {
  width: 268px;
  display: flex;
  flex-direction: column;
}
.educationcontent {
  display: flex;
  column-gap: 16px;
}
.column-1 {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.educationBox {
  box-sizing: border-box;
  width: 116px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  padding: 8px 8px;
  border-radius: 10px;
  background-color: #ffffff;
}
.lastEducation {
  background-color: #28d979;
  color: #ffffff;
}
.topBarEducation {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
}
.lastEducationContent {
  display: flex;
  flex-direction: column;
}
.nameTitleEducation {
  font-weight: 500;
  font-size: 10px;
  line-height: 150%;
}
.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2px;
  color: #149063;
}
.tags p {
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
}
.lastEducationTags {
  color: #ebf9f2;
}
.schoolName {
  font-weight: 400;
  font-size: 8px;
  line-height: 150%;
}
.extraBox {
  width: 267px;
  height: 289px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.interests {
  display: flex;
  flex-direction: column;
}
.interestsContent {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.interestsTag {
  border-radius: 40px;
  background-color: #ffffff;
  padding: 4px 10px;
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
}
.contactBox {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 12px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 12px;
}
.contactTitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
}
.contactInfo {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #dddddd;
}

@media all and (max-width: 567px) {
  .wrapper {
    flex-wrap: wrap;
  }
}
