body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.profileImg {
}
.name {
}
.box {
}
.greetingPhrase {
}
.yourInfo {
}
.role {
}
.lenguages {
}
.title {
}
.nameTitle {
}
.listLenguages {
}
.nameLenguage {
}
.nameLenguage_one {
}
.nameLenguage_two {
}
.nameLenguage_three {
}
.levelLenguage {
}
.levelLenguage_ProgressBar {
}
.experience {
}
.jobList {
}
.lastJob {
}
.topBar {
}
.date {
}
.tag {
}
.content {
}
.jobInfo {
}
.roleName {
}
.aboutJob {
}
.companyName {
}
.divider {
}
.info {
}
.featuredPoints {
}
.points {
}
.job-2 {
}
.job-3 {
}
.tools {
}
.tagDesign {
}
.design {
}
.tagNoCode {
}
.noCode {
}
.tagArtoficialIntelligence {
}
.artoficialIntelligence {
}
.education {
}
.educationBox {
}
.lastEducation {
}
.lastEducationContent {
}
.tags {
}
.schoolName {
}
.education-2 {
}
.education-3 {
}
.extraBox {
}
.interests {
}
.contactBox {
}
.cantactTitle {
}
.contactInfo {
}
